<main
  class="layout h-screen flex items-center px-5"
>
  <form
    class="w-full mx-auto rounded-lg bg-black-2 p-6 max-w-[335px]"
    [formGroup]="authForm"
  >
    <div class="mb-10 flex gap-4 text-lg font-medium text-white">
      <a
        routerLink="/auth/registration"
        [class.opacity-30]="(isRegistrationPage$ | async) === false"
      >
        Registration
      </a>
      <a routerLink="/auth/login" [class.opacity-30]="isRegistrationPage$ | async">Log In</a>
    </div>
    <ul class="mb-6 flex flex-col gap-4">
      @if (isRegistrationPage$ | async) {
        <li>
          <tp-input
            placeholder="Enter your name"
            [control]="authForm.controls.name"
          >
          </tp-input>
        </li>
      }
      <li>
        <tp-input
          placeholder="Enter your email"
          [control]="authForm.controls.email"
          [type]="InputType.Email"
        >
        </tp-input>
      </li>
      <li>
        <tp-input
          [placeholder]="(isRegistrationPage$ | async) ? 'Create a password' : 'Confirm a password'"
          [control]="authForm.controls.password"
          [type]="InputType.Password"
        >
        </tp-input>
      </li>
    </ul>

    <button tp-button [disabled]="authForm.invalid" (click)="onSubmit()">
      {{ (isRegistrationPage$ | async) ? 'Register Now' : 'Log In Now' }}
    </button>
  </form>
</main>
