<!-- TODO: improve UX with 'enter' listeners -->
<main class="layout h-screen relative">
  <section class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 px-5 w-full">
    <div class="mb-6">
      <img 
        class="w-[124px] h-[124px] mx-auto mb-4"
        srcset="welcome-page/welcome.png 1x, welcome-page/welcome@2x.png 2x"
        src="welcome-page/welcome.png" 
        alt="Welcome Page" 
      />
      <h1 class="flex gap-3 justify-center">
        <tp-icon svgIcon="logo" size="40"></tp-icon>
        Task Pro
      </h1>
    </div>

    <p class="text-center mb-12 max-w-[335px] mx-auto">
      Supercharge your productivity and take control of your tasks with Task Pro - 
      Don't wait, start achieving your goals now!
    </p>

    <button tp-button class="max-w-[335px] mb-2" [routerLink]="'/auth/registration'">
      Regestration
    </button>
    <button tp-button class="max-w-[335px]" appearance="transparent" [routerLink]="'/auth/login'">
      Log In
    </button>
  </section>
</main>