.light-theme {
  --primary-color: var(--white-2);
  --secondary-color: var(--white-1);
  --tertiary-color: var(--white-3);
  --accent-color: var(--green-1);
  --danger-color: var(--red-1);

  --font-primary-color: var(--black-2);
  --font-primary-hover-color: var(--green-1);
  --font-secondary-color: var(--black-2);
  --font-secondary-hover-color: var(--green-1);
  --font-accent-color: var(--white-1);
  --font-tertiary-color: var(--black-2);

  --button-primary-color: var(--green-1);
  --button-primary-hover-color: var(--green-2);
  --button-primary-text-color: var(--black-2);
  --button-secondary-color: var(--white-1);
  --button-secondary-hover-color: var(--white-3);
  --button-secondary-text-color: var(--black-2);
  --button-accent-color: var(--green-1);
  --button-accent-hover-color: var(--green-2);

  --icon-bg-primary-color: var(--black-2);
  --icon-primary-color: var(--green-1);
  --icon-secondary-color: var(--black-6);
  --icon-accent-color: var(--white-1); 

  --home-page-label-primary-text-color: var(--black-8);
  --home-page-label-secondary-text-color: var(--green-1);
  --home-page-label-secondary-text-hover-color: var(--green-2);
  --sidebar-dashboard-hover-background: var(--white-2);
  --header-background: var(--white-3);
  --sidebar-background: var(--white-1);
  --sidebar-info-background: var(--white-2);
  --modal-background: var(--white-3);
  --scrollbar-thumb-color: var(--black-10);
}