// TODO: move all colors to variables
.violet-theme {
  --primary-color: #ECEDFD;
  --secondary-color: var(--white-1);
  --accent-color: #5255BC;
  
  --header-background: #FCFCFC;
  --sidebar-background: #5255BC;
  --sidebar-info-background: #ECEDFD66;
  --modal-background: #FCFCFC;

  --text-primary-color: var(--black-2);
  --text-primary-hover-color: #5255BC;
  --text-secondary-color: var(--white-1);
  --text-secondary-hover-color: #B8BCFD;
  
  --button-accent-color: #B8BCFD;
  --button-accent-hover-color: #cccffa;

  --icon-primary-color: var(--white-1);
  --icon-secondary-color: var(--white-1);

  --home-page-label-primary-text-color: #161616B2;
  --home-page-label-secondary-text-color: #5255BC;
  --home-page-label-secondary-text-hover-color: #424597;
}