.violet-theme {
  --primary-color: var(--violet-1);
  --secondary-color: var(--white-1);
  --tertiary-color: var(--white-3);
  --accent-color: var(--violet-2);
  --danger-color: var(--red-1);
  
  --font-primary-color: var(--black-2);
  --font-primary-hover-color: var(--violet-2);
  --font-secondary-color: var(--white-1);
  --font-secondary-hover-color: var(--violet-3);
  --font-accent-color: var(--black-2);
  --font-tertiary-color: var(--white-1);
  
  --button-primary-color: var(--violet-2);
  --button-primary-hover-color: var(--violet-6);
  --button-primary-text-color: var(--white-1);
  --button-accent-color: var(--violet-3);
  --button-accent-hover-color: var(--violet-4);

  --icon-primary-color: var(--white-1);
  --icon-secondary-color: var(--white-1);

  --home-page-label-primary-text-color: var(--black-8);
  --home-page-label-secondary-text-color: var(--violet-2);
  --home-page-label-secondary-text-hover-color: var(--violet-5);
  --header-background: var(--white-3);
  --sidebar-background: var(--violet-2);
  --sidebar-info-background: var(--black-9);
  --sidebar-dashboard-hover-background: var(--transparent-2);
  --modal-background: var(--white-3);
}