@use 'custom';
@use 'themes';

@tailwind base;
@tailwind components;
@tailwind utilities;

*:focus-visible {
  outline: none;
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  letter-spacing: -0.04em;
}

p {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
}

// TODO: think of maybe remove to shared styles?
.layout {
  background: linear-gradient(180deg, var(--black-1) 25%, var(--green-1) 92.19%);
}