@use 'custom';
@use 'themes';

@tailwind base;
@tailwind components;
@tailwind utilities;

*:focus-visible {
  outline: none;
}

:root {
  --header-height: 60px;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background: var(--secondary-color);
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color);
  border-radius: 100px;
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  letter-spacing: -0.04em;
}

h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: -0.02em;
}

p {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
}

// TODO: think of maybe remove to shared styles?
.layout {
  background: linear-gradient(180deg, var(--black-1) 25%, var(--green-1) 92.19%);
}