<header class="fixed top-0 bg-header-background h-[60px] w-full flex items-center justify-between px-5 z-10">
  <button (click)="openSidebar.emit()">
    <tp-icon class="text-font-primary-color hover:text-font-primary-hover-color" svgIcon="burger" size="24"></tp-icon>
  </button>

  <div class="flex items-center gap-4">
    <button 
      class="flex gap-1 h-5 w-[68px] opacity-80 text-font-primary-color text-sm font-medium hover:opacity-100 transition-opacity duration-300"
      cdkOverlayOrigin 
      #trigger="cdkOverlayOrigin"
      (click)="isThemesOpen = !isThemesOpen"
    >
      Theme
      <tp-icon class="text-font-primary-color" svgIcon="chevron-down" size="16"></tp-icon>
    </button>
    <ng-template
      cdkConnectedOverlay
      [cdkConnectedOverlayOrigin]="trigger"
      [cdkConnectedOverlayOpen]="isThemesOpen"
      [cdkConnectedOverlayOffsetX]="-20"
      [cdkConnectedOverlayHasBackdrop]="true"
      (detach)="isThemesOpen = false"
      (backdropClick)="isThemesOpen = false"
    >
      <ul class="bg-primary-color border border-accent-color p-5 rounded-lg text-font-primary-color pr-10">
        @for (theme of themeColors; track $index) {
          <li>
            <button 
              class="hover:text-font-primary-hover-color transition-colors duration-300 capitalize" 
              [class.text-font-primary-hover-color]="theme === (currentTheme$ | async)"
              [disabled]="theme === (currentTheme$ | async)"
              (click)="setTheme(theme)"
            >{{ theme }}</button>
          </li>
        }
      </ul>
    </ng-template>
    <div class="flex items-center gap-2">
      @if (username) {
        <p class="text-font-primary-color font-medium">{{ username }}</p>
        <img src="avatar.jpg" alt="Avatar image" class="w-8 h-8 rounded-lg object-cover">
      }
    </div>
  </div>
</header>