<form class="w-[280px] xs:w-[335px] h-[440px] p-6 bg-modal-background rounded-lg relative">
  <button type="button" class="absolute right-5 top-5" (click)="closeModal.emit()">
    <tp-icon 
      class="text-font-primary-color opacity-80 duration-300 transition-opacity hover:opacity-100" 
      svgIcon="close" 
      size="16"
    ></tp-icon>
  </button>
  <h3 class="text-font-primary-color mb-6">{{ dialogData.dashboard ? 'Edit Board' : 'New Board'}}</h3>

  <div class="mb-6">
    <tp-input [control]="dashboardForm.controls.name" placeholder="Title"></tp-input>
  </div>

  <p class="text-font-primary-color mb-4 font-medium">Icons</p>
  <ul class="flex gap-2 mb-6">
    @for (icon of dashboardIcons; track $index) {
      <li>
        <button type="button" (click)="setIcon(icon)">
          <tp-icon 
            size="18"
            class="text-font-primary-color transition-opacity duration-300"
            [class.opacity-50]="dashboardForm.controls.icon.value === icon" 
            [class.opacity-20]="dashboardForm.controls.icon.value !== icon" 
            [svgIcon]="icon" 
          ></tp-icon>
        </button>
      </li>
    }
  </ul>

  <p class="text-font-primary-color mb-4 font-medium">Background</p>
  <ul class="flex gap-1 flex-wrap w-64 mb-10">
    @for (background of dashboardBackgrounds; track $index) {
      <li>
        <button
          type="button"
          class="transition-shadow duration-300 shadow-font-primary-color rounded-md overflow-hidden"
          [class.shadow-md]="dashboardForm.controls.background.value === background"
          (click)="setBackground(background)"
        >
          @if (background === DashboardBackgrounds.NoBg) {
            <tp-icon class="text-font-primary-color [&_.bg]:fill-primary-color" svgIcon="no-bg" size="28"></tp-icon>
          } @else {
            <img 
              class="w-7 h-7 object-cover"
              alt="Dashboard background image"
              [src]="'./dashboard-bg/' + background + '-small.png'" 
            />
          }
        </button>
      </li>
    }
  </ul>

  <button 
    tp-button
    class="flex gap-2 justify-center items-center text-font-tertiary-color"
    type="submit"
    [disabled]="dashboardForm.invalid"
    (click)="onSubmit()"
  >
    <span class="bg-icon-secondary-color w-7 h-7 rounded-md flex items-center justify-center">
      <tp-icon class="text-font-accent-color" svgIcon="plus" size="14"></tp-icon>
    </span>
    {{ dialogData.dashboard ? 'Save' : 'Create' }}
  </button>
</form>