<!-- TODO: try to handle it better -->
<tp-header [username]="(user$ | async)?.name ?? ''" (openSidebar)="isSidebarOpen = true"></tp-header>

<!-- TODO: add hover and create dashboard logic -->
<main class="bg-primary-color h-screen">
  <router-outlet></router-outlet>
</main>

@if (isSidebarOpen) {
  <!-- TODO: implement dashboard edit and delete -->
  <tp-sidebar
    [currentDashboard]="(currentDashboard$ | async) ?? null"
    [dashboards]="(dashboards$ | async) ?? []"
    (changeDashboard)="changeDashboard($event)"
    (createDashboard)="openDashboardCreation()"
    (editDashboard)="openDashboardCreation()"
    (deleteDashboard)="deleteDashboard($event)"
    (closeSidebar)="isSidebarOpen = false" 
    (logOut)="logOut()"
  ></tp-sidebar>
}