<tp-header 
  [username]="user$.value?.name ?? ''"
  [avatarUrl]="user$.value?.avatarUrl ?? null"
  (openSidebar)="isSidebarOpen = true"
  (editProfile)="openProfileEditModal()"
></tp-header>

<div [class.overflow-auto]="isDesktopWidth">
  <main
    class="bg-primary-color min-h-screen"
    [ngClass]="{ 'h-screen overflow-hidden': isSidebarOpen, 'w-[calc(100vw - 225px)] ml-[225px]': isDesktopWidth }"
  >
    <router-outlet></router-outlet>
  </main>
  
  @if (isSidebarOpen || isDesktopWidth) {
    <tp-sidebar
      [isDesktopWidth]="isDesktopWidth"
      [currentDashboard]="(currentDashboard$ | async) ?? null"
      [dashboards]="(dashboards$ | async) ?? []"
      (changeDashboard)="changeDashboard($event)"
      (createDashboard)="openDashboardModal()"
      (editDashboard)="openDashboardModal($event)"
      (deleteDashboard)="deleteDashboard($event)"
      (closeSidebar)="isSidebarOpen = false" 
      (logOut)="logOut()"
    ></tp-sidebar>
  }
</div>