<main class="layout h-screen relative">
  <section class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
    <div>
      <img 
        class="w-[124px] h-[124px] mx-auto mb-4"
        srcset="welcome-page/welcome.png 1x, welcome-page/welcome@2x.png 2x"
        src="welcome-page/welcome.png" 
        alt="Welcome Page" 
      />
      <h1>
        <tp-icon aria-hidden="false" aria-label="Example home icon" svgIcon="logo"></tp-icon>
        Task Pro
      </h1>
    </div>
  </section>
</main>