.btn {
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  height: 48px;
  border-radius: 8px;
  margin: 0 auto;
  display: block;
  transition: all 0.3s ease-in-out;
}

.btn:disabled {
  background-color: var(--black-10);

  &:hover {
    background-color: var(--black-11);
  }
}

.btn-primary {
  background-color: var(--button-primary-color);
  color: var(--button-primary-text-color);

  &:hover {
    background-color: var(--button-primary-hover-color);
  }
}

.btn-secondary {
  background-color: var(--button-secondary-color);
  color: var(--button-secondary-text-color);

  &:hover {
    background-color: var(--button-secondary-hover-color);
  }
}

.btn-transparent {
  background-color: transparent;
  color: var(--black-2);

  &:hover {
    background-color: var(--transparent-1);
  }
}

.btn-danger {
  background-color: var(--red-1);
  color: var(--black-2);

  &:hover {
    background-color: var(--red-3);
  }
}
