.btn {
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  height: 48px;
  border-radius: 8px;
  margin: 0 auto;
  display: block;
  transition: all 0.3s ease-in-out;
}
// TODO: use theme colors
.btn-primary {
  background-color: var(--black-2);
  color: var(--white-1);

  &:hover {
    background-color: var(--black-3);
  }
}

.btn-secondary {
  background-color: var(--green-1);
  color: var(--black-2);

  &:hover {
    background-color: var(--green-2);
  }
}

.btn-transparent {
  background-color: transparent;
  color: var(--black-2);

  &:hover {
    background-color: var(--transparent-black);
  }
}
