:root {
  --black-1: #C4C4C400;
  --black-2: #161616;
  --black-3: #303030;
  --black-4: #1F1F1F;
  --black-5: #151515;
  --transparent-black: rgba(146, 164, 126, 0.5);
  --white-1: #FFFFFF;
  --green-1: #BEDBB0;
  --green-2: #9DC888;
  --red-1: #FF8769;
}
