:root {
  --black-1: #C4C4C400;
  --black-2: #161616;
  --black-3: #303030;
  --black-4: #1F1F1F;
  --black-5: #151515;
  --black-6: #121212;
  --black-7: #262626;
  --black-8: #161616B2;
  --black-9: #ECEDFD66;
  --transparent-1: rgba(146, 164, 126, 0.5);
  --transparent-2: #FFFFFF80;
  --white-1: #FFFFFF;
  --white-2: #F6F6F7;
  --white-3: #FCFCFC;
  --violet-1: #ECEDFD;
  --violet-2: #5255BC;
  --violet-3: #B8BCFD;
  --violet-4: #cccffa;
  --violet-5: #424597;
  --violet-6: #7B7EDE;
  --green-1: #BEDBB0;
  --green-2: #9DC888;
  --red-1: #FF8769;
}
