<form [formGroup]="dashboardCardForm" class="w-[280px] xs:w-[335px] p-6 bg-modal-background rounded-lg relative">
  <button type="button" class="absolute right-5 top-5" (click)="closeModal.emit()">
    <tp-icon 
      class="text-font-primary-color opacity-80 duration-300 transition-opacity hover:opacity-100" 
      svgIcon="close" 
      size="16"
    ></tp-icon>
  </button>
  <h3 class="text-font-primary-color mb-6">{{ dialogData.card ? 'Edit Card' : 'Add Card' }}</h3>

  <div class="mb-4">
    <tp-input [control]="dashboardCardForm.controls.name" placeholder="Title"></tp-input>
  </div>

  <div class="mb-6">
    <tp-textarea class="h-40 resize-none" [control]="dashboardCardForm.controls.description" placeholder="Description"></tp-textarea>
  </div>

  <div class="mb-4">
    <p class="opacity-50 text-font-primary-color text-xs mb-1">Label color</p>
    <ul class="flex gap-2">
      @for (priority of cardPriorityValues; track $index) {
        <li>
          <input
            class="hidden"
            type="radio"
            formControlName="priority"
            [value]="priority"
            [id]="priority"
          />
          <label class="cursor-pointer" [for]="priority">
            <tp-card-priority-circle [priority]="priority" [isActive]="dashboardCardForm.value.priority === priority"></tp-card-priority-circle>
          </label>
        </li>
      }
    </ul>
  </div>

  <div class="mb-10">
    <p class="opacity-50 text-font-primary-color text-xs mb-1">Deadline</p>
    <button 
      class="text-accent-color text-sm font-medium flex items-center gap-1"
      cdkOverlayOrigin 
      #trigger="cdkOverlayOrigin"
      (click)="isDatePickerOpen = !isDatePickerOpen"
    >
      {{ deadline | getFormattedDate }}
      <tp-icon size="18" svgIcon="chevron-down"></tp-icon>
    </button>
    <ng-template
      cdkConnectedOverlay
      [cdkConnectedOverlayOrigin]="trigger"
      [cdkConnectedOverlayOpen]="isDatePickerOpen"
      [cdkConnectedOverlayHasBackdrop]="true"
      (detach)="isDatePickerOpen = false"
      (backdropClick)="isDatePickerOpen = false"
    >
      <tp-datepicker
        [control]="dashboardCardForm.controls.deadline"
      ></tp-datepicker>
    </ng-template>
  </div>

  <button 
    tp-button
    class="flex gap-2 justify-center items-center text-font-tertiary-color"
    (click)="handleSubmit()"
  >
    <span class="bg-icon-secondary-color w-7 h-7 rounded-md flex items-center justify-center">
      <tp-icon class="text-font-accent-color" svgIcon="plus" size="14"></tp-icon>
    </span>
    {{ dialogData.card ? 'Save' : 'Create' }}
  </button>
</form>