<!-- TODO: remove UI jumping -->
<div class="relative">
  <input
    class="w-full rounded-lg border border-solid bg-tertiary-color px-[18px] py-[14px] text-sm text-font-primary-color opacity-40 outline-accent-color focus:opacity-100"
    [type]="type === InputType.Password ? (hidePassword ? type : InputType.Text) : type"
    [placeholder]="placeholder"
    [formControl]="control"
    [class.pr-12]="type === InputType.Password"
    [class.border-danger-color]="control.errors && control.dirty"
    [class.border-accent-color]="!control.errors || !control.dirty"
  />
  @if (type === InputType.Password) {
    <!-- TODO: remove important rule -->
    <button
      type="button"
      class="transition-opacity duration-300 absolute right-4 top-1/2 -translate-y-1/2 opacity-40 hover:opacity-70"
      [class.!opacity-100]="!hidePassword"
      (click)="hidePassword = !hidePassword"
    >
      <tp-icon svgIcon="eye" size="18"></tp-icon>
    </button>
  }
  @if (control.dirty) {
    @for (error of control.errors | keyvalue; track error.key) {
      <span class="text-xs text-danger-color">{{ error.value }}</span>
    }
  }
</div>
