@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-1: #C4C4C400;
  --green-1: #BEDBB0;
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  letter-spacing: -0.04em;
}
