<div tpDashboardBackground class="bg-cover bg-center bg-no-repeat min-h-screen pb-5" [currentDashboard]="currentDashboard$ | async">
  <div 
    *ngIf="currentDashboard$ | async as dashboard" 
    class="pt-header-height px-5 mx-auto"
  >
    <div class="bg-primary-color flex justify-between items-center mt-4 py-3 px-5 rounded-lg">
      <p class="text-font-primary-color font-medium">Project office</p>
      <div class="text-font-primary-color flex items-center gap-2">
        @if (cardFilter) {
          <div class="text-xs flex items-center gap-1 font-medium">
            Only 
            <tp-card-priority-circle [priority]="cardFilter"></tp-card-priority-circle>
          </div>
        }
        <button 
          class="opacity-80 hover:opacity-100 flex gap-2 items-center duration-300 transition-opacity"
          cdkOverlayOrigin
          #trigger="cdkOverlayOrigin"
          (click)="isFiltersOpen = true"
        >
          <tp-icon size="16" svgIcon="filter"></tp-icon>
          Filters
        </button>
        <ng-template
          cdkConnectedOverlay
          [cdkConnectedOverlayOrigin]="trigger"
          [cdkConnectedOverlayOpen]="isFiltersOpen"
          [cdkConnectedOverlayHasBackdrop]="true"
          (detach)="isFiltersOpen = false"
          (backdropClick)="isFiltersOpen = false"
        >
          <div class="w-[300px] bg-primary-color border border-accent-color p-6 rounded-lg text-font-primary-color">
            <h3 class="mb-3">Filters</h3>
            <hr class="opacity-30 bg-font-primary-color mb-4">
            <div class="flex items-center justify-between mb-4">
              <p class="font-medium">Label color</p>
              <button class="text-font-primary-color opacity-50 text-xs underline" (click)="cardFilter = null">Show All</button>
            </div>
            <ul class="flex flex-col gap-2">
              @for (priority of cardPriorities; track $index) {
                <li>
                  <button class="flex items-center gap-2" (click)="cardFilter = priority">
                    <div>
                      <tp-card-priority-circle [priority]="priority" [isActive]="cardFilter === priority"></tp-card-priority-circle>
                    </div>
                    <span class="capitalize text-xs text-font-primary-color opacity-50">
                      {{ priority }}
                    </span>
                  </button>
                </li>
              }
            </ul>
          </div>
        </ng-template>
      </div>
    </div>
  
    <!-- TODO: set right height -->
    <ul class="mt-6 flex flex-row gap-3 overflow-auto min-h-64 pb-6 min-w-[280px] xs:min-w-[345px] [&::-webkit-scrollbar]:h-3">
      <!-- TODO: sort by create time -->
      @for (column of dashboard.columns; track $index) {
        <li class="min-w-[280px] xs:min-w-[345px] max-w-[345px]">
          <div class="bg-button-secondary-color h-12 rounded-lg py-3 px-5 flex items-center justify-between mb-3 max-w-[335px]">
            <!-- TODO: add tooltip -->
            <span class="font-medium text-font-primary-color truncate max-w-[240px]">
              {{ column.name }}
            </span>
            <div class="items-center flex gap-2">
              <tp-icon class="cursor-pointer text-font-primary-color opacity-50 hover:opacity-100 transition-opacity duration-300" svgIcon="pencil" size="16" (click)="openColumnModal(column)"></tp-icon>
              <tp-icon class="cursor-pointer text-font-primary-color opacity-50 hover:opacity-100 transition-opacity duration-300" svgIcon="trash" size="16" (click)="deleteColumn(column)"></tp-icon>
            </div>
          </div>
          <ul class="flex flex-col gap-3 max-h-[664px] min-w-[290px] xs:min-w-[345px] max-w-[345px] overflow-auto pr-1 [&::-webkit-scrollbar]:w-1.5">
            <!-- TODO: move to separate component? -->
            @for (card of (column.cards | filterArrayByValue : 'priority' : cardFilter); track $index) {
              <li>
                <tp-dashboard-card 
                  [card]="card" 
                  [currentDashboard]="dashboard" 
                  [currentColumn]="column" 
                  [openedPopupCardId]="openedPopupCardId"
                  (changeCardColumn)="changeCardColumn($event)"
                  (openCardModal)="openCardModal($event)"
                  (deleteCard)="deleteCard($event)"
                ></tp-dashboard-card>
              </li>
            }
          </ul>
          <button tp-button class="mt-4 flex items-center gap-2 justify-center max-w-[335px] ml-0" (click)="openCardModal({ currentColumn: column, card: null })">
            <span class="bg-font-tertiary-color rounded-md w-7 h-7 flex items-center justify-center">
              <tp-icon class="text-font-accent-color" svgIcon="plus" size="14"></tp-icon>
            </span>
            Add another card
          </button>
        </li>
      }
      <li class="min-w-[280px] xs:min-w-[335px] max-w-[335px]">
        <button tp-button class="flex gap-2 items-center justify-center" [appearance]="ButtonAppearance.Secondary" (click)="openColumnModal()">
          <span class="flex items-center justify-center w-7 h-7 bg-icon-bg-primary-color rounded-md">
            <tp-icon svgIcon="plus" size="16" class="text-icon-accent-color"></tp-icon>
          </span>
          Add another column
        </button>
      </li>
    </ul>
  </div>
</div>